.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0px;
    padding: 0px;

}


.cherry {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: auto;
   
}


.item1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: gray;
    
    
}


h1{
    grid-column: 1 / 3; 
    align-content: center;
    font-size: 100px;
    z-index: 999;
}