img {
    max-width: 20%;
}

body{
    text-align: center;
    background-color: #FC94AF;
}

p1{
    font-size: 15px;
    color: white;
}

header{
    font-size: 30px;
    color: white;

}


p{
    color: white;
    font-size: 35px;
}

p2{
    color: black;
    
}

p4{
    color: white;
    font-size: 35px;
}

